<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx 
				http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                	http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!--注册当前可以使用spring的ioc的注解的功能 -->
	<context:annotation-config></context:annotation-config>
	<!--自动扫描com下面的所有包,当发现包下面有@services @controller @component..就交给spring的容器来管理 -->
	<context:component-scan base-package="com.*"></context:component-scan>
	<!--去classes的目录下面去找一个叫做jdbc.properties的属性文件 而且将它解析 我们可以通过springEL表达式来获得属性的值 -->
	
<!-- 	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	 -->
	 


	<!--把所有对于事务的配置都交给HibernateTransacionManager来管理 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!--开启使用注解来进行事务的配置的功能 -->
	<tx:annotation-driven transaction-manager="txManager" />



<!-- 	<bean id="StudentDAO" class="cn.edu.hustwb.dao.impl.StudentDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> -->
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/School">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hbm2ddl.auto">update</prop>
				<prop key="show_sql">true</prop>
			</props>
		</property>
	</bean></beans>